Repository agence-adeliom/lumberjack-project: changes, and which lint-staged commands are due for each by the changed paths.
All: lando prettier --write, lando eslint --fix, lando stylelint --fix, lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

.lintstagedrc:

{
    "web/app/themes/adeliom/assets/**/*.{js,jsx,ts,tsx,json}": [
        "lando prettier --write",
        "lando eslint --fix"
    ],
    "web/app/themes/adeliom/assets/**/*.{css,pcss,scss}": [
        "lando prettier --write",
        "lando stylelint --fix"
    ],
    "web/app/themes/**/*.md": [
        "lando prettier --write"
    ],
    "web/app/themes/**/*.php": [
        "lando phplint --no-ansi",
        "lando phpcbf --no-colors",
        "lando phpcs --no-colors"
    ],
    "packages/**/*.{php}": [
        "lando phplint --no-ansi",
        "lando phpcbf --no-colors",
        "lando phpcs --no-colors"
    ]
}

chore: bugfix
  .installer/Install.php
  .installer/install.lock
  .lintstagedrc
  composer.json
  config/environments/local.php
  config/environments/production.php
  config/environments/staging.php
  deploy.php
  package-lock.json
  web/app/themes/adeliom/webpack.config.js
Due: none

ci: update symplify/monorepo-split-github-action
  .github/dependabot.yml
  .github/labels.yml
  .github/workflows/ci.yml
  .github/workflows/dependency_check.yml
  .github/workflows/labels.yml
  dep
Due: none

ci: update symplify/monorepo-split-github-action
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependency_check.yml
  .github/workflows/labels.yml
Due: none

chore: test
  .lando.yml
  composer.json
  config/application.php
  web/.htaccess
  web/app/themes/adeliom/assets/components/editor/index.ts
  web/app/themes/adeliom/functions.php
  web/app/themes/adeliom/package-lock.json
  web/app/themes/adeliom/package.json
  web/app/themes/adeliom/tsconfig.json
  web/app/themes/adeliom/views/layout.html.twig
  web/app/themes/adeliom/webpack.config.js
Due: lando prettier --write, lando eslint --fix, lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

chore: test
  composer.json
Due: none

ci: update symplify/monorepo-split-github-action
  web/app/themes/adeliom/app/Block/.gitkeep
Due: none

ci: update symplify/monorepo-split-github-action
  config/environments/local.php
Due: none

chore(views): add default twig components
  web/app/themes/adeliom/views/blocks/block.html.twig
  web/app/themes/adeliom/views/blocks/content/image-full.html.twig
  web/app/themes/adeliom/views/blocks/content/quote.html.twig
  web/app/themes/adeliom/views/blocks/content/text-image.html.twig
  web/app/themes/adeliom/views/blocks/content/wysiwyg.html.twig
  web/app/themes/adeliom/views/blocks/hero/hero.html.twig
  web/app/themes/adeliom/views/blocks/listing/last-news.html.twig
  web/app/themes/adeliom/views/components/buttons/btn-group.html.twig
  web/app/themes/adeliom/views/components/buttons/btn-play.html.twig
  web/app/themes/adeliom/views/components/buttons/btn.html.twig
  web/app/themes/adeliom/views/components/cards/card.html.twig
  web/app/themes/adeliom/views/components/media/image.html.twig
  web/app/themes/adeliom/views/components/media/media.html.twig
  web/app/themes/adeliom/views/components/media/partials/wrapper-media.html.twig
  web/app/themes/adeliom/views/components/media/video.html.twig
  web/app/themes/adeliom/views/components/navigations/breadcrumb.html.twig
  web/app/themes/adeliom/views/components/navigations/header.html.twig
  web/app/themes/adeliom/views/components/navigations/menu.html.twig
  web/app/themes/adeliom/views/components/navigations/pagination.html.twig
  web/app/themes/adeliom/views/components/overlay/modal.html.twig
  web/app/themes/adeliom/views/components/typography/heading.html.twig
  web/app/themes/adeliom/views/components/typography/icon.html.twig
  web/app/themes/adeliom/views/components/typography/list.html.twig
  web/app/themes/adeliom/views/components/typography/text-group.html.twig
  web/app/themes/adeliom/views/components/typography/text.html.twig
Due: none

chore(blocks): add default blocks gutenberg
  web/app/themes/adeliom/app/Block/Content/ImageFullBlock.php
  web/app/themes/adeliom/app/Block/Content/QuoteBlock.php
  web/app/themes/adeliom/app/Block/Content/TextImageBlock.php
  web/app/themes/adeliom/app/Block/Content/WysiwygBlock.php
  web/app/themes/adeliom/app/Enum/BlocksTwigPath.php
  web/app/themes/adeliom/app/Enum/GutBlockName.php
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

chore(installer): fix env file build on install
  composer.json
Due: none

chore: update to new block structure
  web/app/themes/adeliom/app/Admin/ParametersAdmin.php
  web/app/themes/adeliom/app/Block/Content/ImageFullBlock.php
  web/app/themes/adeliom/app/Block/Content/QuoteBlock.php
  web/app/themes/adeliom/app/Block/Content/TextImageBlock.php
  web/app/themes/adeliom/app/Block/Content/WysiwygBlock.php
  web/app/themes/adeliom/app/Enum/BlocksTwigPath.php
  web/app/themes/adeliom/config/timber.php
  web/app/themes/adeliom/views/blocks/block.html.twig
  web/app/themes/adeliom/views/blocks/content/wysiwyg.html.twig
  web/app/themes/adeliom/views/components/navigations/footer.html.twig
  web/app/themes/adeliom/views/components/navigations/header.html.twig
  web/app/themes/adeliom/views/components/navigations/menu.html.twig
  web/app/themes/adeliom/views/components/navigations/pagination.html.twig
  web/app/themes/adeliom/views/components/typography/text.html.twig
  web/app/themes/adeliom/views/layout.html.twig
  web/app/themes/adeliom/views/templates/page/home.html.twig
  web/app/themes/adeliom/views/templates/page/index.html.twig
  web/app/themes/adeliom/views/templates/page/page.html.twig
  web/app/themes/adeliom/views/templates/page/search.html.twig
  web/app/themes/adeliom/views/templates/post/archive.html.twig
  web/app/themes/adeliom/views/templates/post/author.html.twig
  web/app/themes/adeliom/views/templates/post/single.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

chore(admin): update namespace and replace registerFields method by getFields
  web/app/themes/adeliom/app/Block/Content/QuoteBlock.php
  web/app/themes/adeliom/app/Block/Content/TextImageBlock.php
  web/app/themes/adeliom/app/Block/Content/WysiwygBlock.php
  web/app/themes/adeliom/app/Enum/BlocksTwigPath.php
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

chore(render): add wp block className support
  web/app/themes/adeliom/views/blocks/block.html.twig
Due: none

fix: dep path
  dep
Due: none

feat(text): update twig text
  web/app/themes/adeliom/views/components/typography/text.html.twig
Due: none

feat(twig): update btn field
  web/app/themes/adeliom/app/Block/Content/ImageFullBlock.php
  web/app/themes/adeliom/views/components/buttons/btn.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat: use adeliom lando recipe
  .gitignore
  .lando.mutagen.yml
  .lando.yml
  bin/dep
Due: none

chore: add github files
  .github/ISSUE_TEMPLATE/bug.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/config.yml
  .github/stale.yml
  .inventory.yaml
  .lando.local.yml
  .lando.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE.md
  README.md
  doc/cli.md
  doc/deploy.md
  doc/environment.md
  doc/git-worklow.md
  doc/how-to/create-twig_extensions.md
  doc/how-to/get_last_news_in-twig.md
  doc/installation.md
  doc/scheduled-task.md
  doc/troubleshooting.md
Due: none

docs: update readme
  README.md
Due: none

feat: add default w3-total-cache
  LICENSE.md
  README.md
  composer.json
Due: none

fix: bin dep
  .lando.yml
  bin/dep
  phpstan.neon
  web/app/themes/adeliom/app/Providers/AppServiceProvider.php
  web/app/themes/adeliom/config/app.php
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

ci: setup
  .github/workflows/ci.yml
Due: none

ci: update
  .github/workflows/dependency_check.yml
  .github/workflows/labels.yml
Due: none

chore: fix
  .github/workflows/ci.yml
  .lando.yml
Due: none

ci: update
  .github/workflows/ci.yml
Due: none

ci: fix
  .github/workflows/ci.yml
Due: none

fix: ci
  .github/workflows/ci.yml
Due: none

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update create-taxonomy.md
  doc/how-to/create-taxonomy.md
Due: none

Update README.md
  README.md
Due: none

fix: builds
  .inventory.yaml
  .lando.yml
  deploy.php
  web/app/themes/adeliom/package.json
  web/app/themes/adeliom/webpack.config.js
Due: none

Update deploy.php
  deploy.php
Due: none

chore(providers): ajout d'un provider permettant de gérer les extensiosn twig
  web/app/themes/adeliom/app/Providers/TwigExtensionsServiceProvider.php
  web/app/themes/adeliom/config/app.php
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

Update layout.html.twig
  web/app/themes/adeliom/views/layout.html.twig
Due: none

fix(providers):
  web/app/themes/adeliom/config/app.php
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(package.json): ajout de package eslint pour déploiement
  web/app/themes/adeliom/package.json
Due: none
