Repository agence-adeliom/lumberjack-project: changes, and which lint-staged commands are due for each by the changed paths.
All: lando prettier --write, lando eslint --fix, lando stylelint --fix, lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(image): adapt blocks with new macro image + handle svg + BO new aspect ratio options
  composer.json
  composer.lock
  web/app/themes/adeliom/app/Block/Content/MediaBlock.php
  web/app/themes/adeliom/app/Block/Content/TextImageBlock.php
  web/app/themes/adeliom/app/Block/Hero/HeroBasicBlock.php
  web/app/themes/adeliom/app/TwigExtensions/ImageExtension.php
  web/app/themes/adeliom/config/twig.php
  web/app/themes/adeliom/views/blocks/content/image-full.html.twig
  web/app/themes/adeliom/views/blocks/content/logo.html.twig
  web/app/themes/adeliom/views/blocks/content/media.html.twig
  web/app/themes/adeliom/views/blocks/content/text-image.html.twig
  web/app/themes/adeliom/views/blocks/hero/hero-basic.html.twig
  web/app/themes/adeliom/views/components/content/media/README.md
  web/app/themes/adeliom/views/components/content/media/image.html.twig
  web/app/themes/adeliom/views/components/content/media/media.html.twig
Due: lando prettier --write, lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(console): add console and base command for imports
  .ddev/commands/web/console
  composer.json
  composer.lock
  web/app/themes/adeliom/app/Commands/Import/ImportContentCommand.php
  web/app/themes/adeliom/config/commands.php
  web/app/themes/adeliom/console
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(php): switch from 8.1 to 8.2
  .ddev/config.yaml
  README.md
Due: none

feat(php): switch from 8.1 to 8.2 (#101)
  .ddev/config.yaml
  README.md
Due: none

fix: need to move up task set:repository in deploy.php to make it work
  deploy.php
Due: none

update(core-plugins): update core to 6.4.2 and plugins + reinstall Yoast SEO
  composer.json
  composer.lock
Due: none

update(core-plugins): update core to 6.4.2 and plugins + reinstall Yoast SEO (#105)
  composer.json
  composer.lock
Due: none

Path conditions:
  lando prettier --write: ((any of: web/app/themes/adeliom/assets/**/*.{js,jsx,ts,tsx,json}) or (any of: web/app/themes/adeliom/assets/**/*.{css,pcss,scss})) or (any of: web/app/themes/**/*.md)
  lando eslint --fix: any of: web/app/themes/adeliom/assets/**/*.{js,jsx,ts,tsx,json}
  lando stylelint --fix: any of: web/app/themes/adeliom/assets/**/*.{css,pcss,scss}
  lando phplint --no-ansi: (any of: web/app/themes/**/*.php) or (any of: packages/**/*.{php})
  lando phpcbf --no-colors: (any of: web/app/themes/**/*.php) or (any of: packages/**/*.{php})
  lando phpcs --no-colors: (any of: web/app/themes/**/*.php) or (any of: packages/**/*.{php})
