Repository agence-adeliom/lumberjack-project: changes, and which lint-staged commands are due for each by the changed paths.
All: lando prettier --write, lando eslint --fix, lando stylelint --fix, lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

.lintstagedrc:

{
    "web/app/themes/adeliom/assets/**/*.{js,jsx,ts,tsx,json}": [
        "lando prettier --write",
        "lando eslint --fix"
    ],
    "web/app/themes/adeliom/assets/**/*.{css,pcss,scss}": [
        "lando prettier --write",
        "lando stylelint --fix"
    ],
    "web/app/themes/**/*.md": [
        "lando prettier --write"
    ],
    "web/app/themes/**/*.php": [
        "lando phplint --no-ansi",
        "lando phpcbf --no-colors",
        "lando phpcs --no-colors"
    ],
    "packages/**/*.{php}": [
        "lando phplint --no-ansi",
        "lando phpcbf --no-colors",
        "lando phpcs --no-colors"
    ]
}

chore(deploy): ajout eslintrc pour déploiement des assets
  web/app/themes/adeliom/.eslintrc.js
Due: none

fix(twig): maj du composant btn
  web/app/themes/adeliom/views/components/buttons/btn.html.twig
Due: none

fix(composer): ajout d'une config
  composer.json
Due: none

chote: add issue tpl
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/bug.yml
Due: none

feat(theme): suppression du refus du console.log EsLint
  web/app/themes/adeliom/.eslintrc.js
Due: none

feat(theme): ajout de warning pour les console.log elslint
  web/app/themes/adeliom/.eslintrc.js
Due: none

feat(assets): déplacement des scripts globaux côté PHP
  web/app/themes/adeliom/app/Hooks/Admin/ThemeHooks.php
  web/app/themes/adeliom/views/layout.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(dependabot): Ignore major versions
  .github/dependabot.yml
Due: none

feat(twig): Remove tease component
  web/app/themes/adeliom/views/components/tease/tease-post.html.twig
  web/app/themes/adeliom/views/components/tease/tease.html.twig
  web/app/themes/adeliom/views/templates/page/index.html.twig
Due: none

feat(blocks): update
  composer.json
  composer.lock
  package-lock.json
  web/app/themes/adeliom/app/Block/Content/ImageFullBlock.php
  web/app/themes/adeliom/app/Block/Content/QuoteBlock.php
  web/app/themes/adeliom/app/Block/Content/WysiwygBlock.php
  web/app/themes/adeliom/app/Block/Cta/CtaBlock.php
  web/app/themes/adeliom/app/Enum/BlocksTwigPath.php
  web/app/themes/adeliom/app/Hooks/Admin/WysiwygHooks.php
  web/app/themes/adeliom/assets/components/admin/index.pcss
  web/app/themes/adeliom/assets/tailwind/components/_btn.pcss
  web/app/themes/adeliom/assets/tailwind/index.pcss
  web/app/themes/adeliom/views/blocks/block.html.twig
  web/app/themes/adeliom/views/blocks/content/image-full.html.twig
  web/app/themes/adeliom/views/blocks/content/quote.html.twig
  web/app/themes/adeliom/views/blocks/content/text-image.html.twig
  web/app/themes/adeliom/views/blocks/content/wysiwyg.html.twig
  web/app/themes/adeliom/views/blocks/cta/cta.html.twig
  web/app/themes/adeliom/views/components/action/README.md
  web/app/themes/adeliom/views/components/action/buttons/btn-group.html.twig
  web/app/themes/adeliom/views/components/action/buttons/btn-play.html.twig
  web/app/themes/adeliom/views/components/action/buttons/btn.html.twig
  web/app/themes/adeliom/views/components/content/README.md
  web/app/themes/adeliom/views/components/content/cards/card.html.twig
  web/app/themes/adeliom/views/components/content/media/image.html.twig
  web/app/themes/adeliom/views/components/content/media/media.html.twig
  web/app/themes/adeliom/views/components/content/media/partials/wrapper-media.html.twig
  web/app/themes/adeliom/views/components/content/media/video.html.twig
  web/app/themes/adeliom/views/components/media/image.html.twig
  web/app/themes/adeliom/views/components/navigations/README.md
  web/app/themes/adeliom/views/components/overlay/README.md
  web/app/themes/adeliom/views/components/typography/README.md
  web/app/themes/adeliom/views/components/typography/text-group.html.twig
Due: lando prettier --write, lando stylelint --fix, lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(twig): replace include by macro for typography component
  web/app/themes/adeliom/app/Hooks/Admin/ThemeHooks.php
  web/app/themes/adeliom/views/blocks/content/text-image.html.twig
  web/app/themes/adeliom/views/blocks/content/wysiwyg.html.twig
  web/app/themes/adeliom/views/components/typography/heading.html.twig
  web/app/themes/adeliom/views/components/typography/icon.html.twig
  web/app/themes/adeliom/views/components/typography/list.html.twig
  web/app/themes/adeliom/views/components/typography/text-group.html.twig
  web/app/themes/adeliom/views/components/typography/text.html.twig
  web/app/themes/adeliom/views/components/typography/typography.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(twig): replace include by macro for button components
  web/app/themes/adeliom/app/Block/Content/TextImageBlock.php
  web/app/themes/adeliom/app/Block/Content/WysiwygBlock.php
  web/app/themes/adeliom/views/blocks/content/wysiwyg.html.twig
  web/app/themes/adeliom/views/blocks/cta/cta.html.twig
  web/app/themes/adeliom/views/components/action/buttons/btn-group.html.twig
  web/app/themes/adeliom/views/components/action/buttons/btn-play.html.twig
  web/app/themes/adeliom/views/components/action/buttons/btn.html.twig
  web/app/themes/adeliom/views/components/typography/typography.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

fix(twig): correction variable name obj
  web/app/themes/adeliom/views/components/typography/typography.html.twig
Due: none

chore: update php dependencies
  composer.json
  composer.lock
Due: none

feat(blocks): create BO/FO block text two cols
  web/app/themes/adeliom/app/Block/Content/TextTwoColsBlock.php
  web/app/themes/adeliom/views/blocks/content/text-two-cols.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(blocks): add title-text block
  web/app/themes/adeliom/app/Block/Content/TitleTextBlock.php
  web/app/themes/adeliom/views/blocks/content/title-text.html.twig
  web/app/themes/adeliom/views/components/action/buttons/btn.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(blocks): add cta block
  web/app/themes/adeliom/app/Block/Cta/CtaBlock.php
  web/app/themes/adeliom/views/blocks/cta/cta.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(blocks): adjust text-image block
  web/app/themes/adeliom/views/blocks/content/text-image.html.twig
Due: none

feat(blocks): add latest news block
  web/app/themes/adeliom/app/Block/Latest/LastNewsBlock.php
  web/app/themes/adeliom/app/TwigExtensions/NewsExtension.php
  web/app/themes/adeliom/assets/tailwind/index.pcss
  web/app/themes/adeliom/assets/tailwind/utilities/index.pcss
  web/app/themes/adeliom/config/twig.php
  web/app/themes/adeliom/views/blocks/listing/last-news.html.twig
  web/app/themes/adeliom/views/components/content/cards/card.html.twig
  web/app/themes/adeliom/views/components/content/cards/news/index.html.twig
  web/app/themes/adeliom/views/components/content/cards/news/skeleton.html.twig
Due: lando prettier --write, lando stylelint --fix, lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(quote): add quote block
  web/app/themes/adeliom/assets/images/quote.svg
  web/app/themes/adeliom/views/blocks/content/quote.html.twig
Due: none

fix(blocks): last news improvements
  web/app/themes/adeliom/app/Block/Latest/LastNewsBlock.php
  web/app/themes/adeliom/app/TwigExtensions/NewsExtension.php
  web/app/themes/adeliom/config/twig.php
  web/app/themes/adeliom/package-lock.json
  web/app/themes/adeliom/views/blocks/listing/last-news.html.twig
  web/app/themes/adeliom/views/components/content/cards/card.html.twig
  web/app/themes/adeliom/views/components/content/cards/news/card-news.html.twig
  web/app/themes/adeliom/views/components/content/cards/news/index.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

fix(blocks): cta improvements
  web/app/themes/adeliom/views/blocks/cta/cta.html.twig
Due: none

fix(blocks): title text improvements
  web/app/themes/adeliom/views/blocks/content/title-text.html.twig
  web/app/themes/adeliom/views/components/action/buttons/btn.html.twig
Due: none

feat(lumberjack-core): v6
  .gitignore
  composer.json
  composer.lock
Due: none

feat(blocks): add media blocks feat(modal): add modal library and setup feat(lightbox): add lightbox library and setup
  .gitignore
  doc/front/lightbox.md
  doc/front/modal.md
  web/app/themes/adeliom/app/Block/Content/MediaBlock.php
  web/app/themes/adeliom/assets/components/blocks/media/index.ts
  web/app/themes/adeliom/assets/components/global/index.ts
  web/app/themes/adeliom/assets/components/navigations/index.ts
  web/app/themes/adeliom/assets/components/navigations/menu/index.ts
  web/app/themes/adeliom/assets/components/utils/lightbox/index.ts
  web/app/themes/adeliom/assets/components/utils/modals/index.pcss
  web/app/themes/adeliom/assets/components/utils/modals/index.ts
  web/app/themes/adeliom/assets/tailwind/index.pcss
  web/app/themes/adeliom/assets/typings/index.d.ts
  web/app/themes/adeliom/package-lock.json
  web/app/themes/adeliom/package.json
  web/app/themes/adeliom/tailwind.config.js
  web/app/themes/adeliom/tsconfig.json
  web/app/themes/adeliom/views/blocks/content/media.html.twig
  web/app/themes/adeliom/views/components/action/buttons/btn-play.html.twig
  web/app/themes/adeliom/views/components/content/media/media.html.twig
  web/app/themes/adeliom/views/components/content/media/partials/wrapper-media.html.twig
  web/app/themes/adeliom/views/components/overlay/README.md
  web/app/themes/adeliom/views/components/overlay/modal.html.twig
  web/app/themes/adeliom/webpack.config.js
Due: lando prettier --write, lando eslint --fix, lando stylelint --fix, lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(blocks): add title-text block (#22)
  web/app/themes/adeliom/app/Block/Content/TitleTextBlock.php
  web/app/themes/adeliom/views/blocks/content/title-text.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(blocks): adjust text-image block (#24)
  web/app/themes/adeliom/views/blocks/content/text-image.html.twig
Due: none

feat(blocks): add cta block (#23)
  web/app/themes/adeliom/app/Block/Cta/CtaBlock.php
  web/app/themes/adeliom/views/blocks/cta/cta.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

fix(condtions): update conditions in layout file
  web/app/themes/adeliom/views/blocks/content/text-two-cols.html.twig
Due: none

feat(quote block): add fontawesome to project and use it in quote block
  README.md
  web/app/themes/adeliom/.npmrc
  web/app/themes/adeliom/package.json
  web/app/themes/adeliom/views/blocks/content/quote.html.twig
  web/app/themes/adeliom/views/layout.html.twig
Due: none

feat(number): add BO and FO for numbers block
  web/app/themes/adeliom/app/Block/Content/NumbersBlock.php
  web/app/themes/adeliom/views/blocks/content/numbers.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(numbers): add layout tab
  web/app/themes/adeliom/app/Block/Content/NumbersBlock.php
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(form): update template form block
  web/app/themes/adeliom/app/Block/Generique/FormBlock.php
  web/app/themes/adeliom/views/blocks/generique/form.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(files): add BO and FO for file download block
  web/app/themes/adeliom/app/Block/Content/FileBlock.php
  web/app/themes/adeliom/views/blocks/content/file.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(three cards): wip
  web/app/themes/adeliom/app/Block/Content/ThreeCardsBlock.php
  web/app/themes/adeliom/views/blocks/content/three-cards.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(FO): wip three cards layout and add BO choice if picto
  web/app/themes/adeliom/app/Block/Content/ThreeCardsBlock.php
  web/app/themes/adeliom/views/blocks/content/three-cards.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(number): add BO and FO for numbers block (#50)
  web/app/themes/adeliom/app/Block/Content/NumbersBlock.php
  web/app/themes/adeliom/views/blocks/content/numbers.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(assets): refactor assets structure + webpack encore config
  .lintstagedrc
  web/app/themes/adeliom/app/Block/Content/MediaBlock.php
  web/app/themes/adeliom/app/Hooks/Admin/ThemeHooks.php
  web/app/themes/adeliom/assets/components/admin/index.pcss
  web/app/themes/adeliom/assets/components/admin/index.ts
  web/app/themes/adeliom/assets/components/editor/index.ts
  web/app/themes/adeliom/assets/components/global/index.ts
  web/app/themes/adeliom/assets/components/navigations/index.ts
  web/app/themes/adeliom/assets/components/navigations/menu/index.ts
  web/app/themes/adeliom/assets/components/utils/modals/index.pcss
  web/app/themes/adeliom/assets/scripts/blocks/media.ts
  web/app/themes/adeliom/assets/scripts/components/lightbox.ts
  web/app/themes/adeliom/assets/scripts/components/modals.ts
  web/app/themes/adeliom/assets/scripts/global.ts
  web/app/themes/adeliom/assets/scripts/navigations/menu.ts
  web/app/themes/adeliom/assets/scripts/types/index.d.ts
  web/app/themes/adeliom/assets/styles/admin.pcss
  web/app/themes/adeliom/assets/styles/editor.pcss
  web/app/themes/adeliom/assets/styles/global.pcss
  web/app/themes/adeliom/assets/styles/tailwind/base/.gitkeep
  web/app/themes/adeliom/assets/styles/tailwind/base/base.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/.gitkeep
  web/app/themes/adeliom/assets/styles/tailwind/components/components.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/modals.pcss
  web/app/themes/adeliom/assets/styles/tailwind/tailwind.pcss
  web/app/themes/adeliom/assets/styles/tailwind/utilities/.gitkeep
  web/app/themes/adeliom/assets/styles/tailwind/utilities/utilities.pcss
  web/app/themes/adeliom/assets/tailwind/components/_btn.pcss
  web/app/themes/adeliom/assets/tailwind/index.pcss
  web/app/themes/adeliom/assets/tailwind/index.ts
  web/app/themes/adeliom/tsconfig.json
  web/app/themes/adeliom/webpack.config.js
Due: lando prettier --write, lando eslint --fix, lando stylelint --fix, lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors
