Repository agence-adeliom/lumberjack-project: changes, and which lint-staged commands are due for each by the changed paths.
All: lando prettier --write, lando eslint --fix, lando stylelint --fix, lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

.lintstagedrc:

{
    "web/app/themes/adeliom/assets/**/*.{js,jsx,ts,tsx,json}": [
        "lando prettier --write",
        "lando eslint --fix"
    ],
    "web/app/themes/adeliom/assets/**/*.{css,pcss,scss}": [
        "lando prettier --write",
        "lando stylelint --fix"
    ],
    "web/app/themes/**/*.md": [
        "lando prettier --write"
    ],
    "web/app/themes/**/*.php": [
        "lando phplint --no-ansi",
        "lando phpcbf --no-colors",
        "lando phpcs --no-colors"
    ],
    "packages/**/*.{php}": [
        "lando phplint --no-ansi",
        "lando phpcbf --no-colors",
        "lando phpcs --no-colors"
    ]
}

38 bloc gutenberg 3 colonnes card (#61)
  web/app/themes/adeliom/app/Block/Content/ThreeCardsBlock.php
  web/app/themes/adeliom/package-lock.json
  web/app/themes/adeliom/views/blocks/content/three-cards.html.twig
  web/app/themes/adeliom/views/components/content/cards/basic/card-basic.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(dependencies): package.json
  web/app/themes/adeliom/package-lock.json
Due: none

37 bloc gutenberg faq (#62)
  web/app/themes/adeliom/assets/scripts/components/accordion.ts
  web/app/themes/adeliom/package-lock.json
  web/app/themes/adeliom/package.json
  web/app/themes/adeliom/views/blocks/relation/faq.html.twig
  web/app/themes/adeliom/views/components/structure/accordion/faq.html.twig
Due: lando prettier --write, lando eslint --fix

feat(blocks): outsource mediaRatio option on block images (#64)
  composer.lock
  web/app/themes/adeliom/app/Block/Content/MediaBlock.php
  web/app/themes/adeliom/app/Block/Content/TextImageBlock.php
  web/app/themes/adeliom/assets/tailwind/index.pcss
  web/app/themes/adeliom/assets/tailwind/utilities/index.pcss
  web/app/themes/adeliom/tailwind.config.js
  web/app/themes/adeliom/views/blocks/content/media.html.twig
  web/app/themes/adeliom/views/blocks/content/text-image.html.twig
Due: lando prettier --write, lando stylelint --fix, lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(ts): continue to merge
  web/app/themes/adeliom/package-lock.json
  web/app/themes/adeliom/package.json
Due: none

feat(blocks): image gallery
  package-lock.json
  package.json
  web/app/themes/adeliom/app/Block/Content/ImageGalleryBlock.php
  web/app/themes/adeliom/assets/scripts/blocks/image-gallery.ts
  web/app/themes/adeliom/views/blocks/content/image-gallery.html.twig
Due: lando prettier --write, lando eslint --fix, lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

fix: typo
  web/app/themes/adeliom/app/Block/Content/ImageGalleryBlock.php
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(blocks): logos
  web/app/themes/adeliom/app/Block/Content/LogoBlock.php
  web/app/themes/adeliom/views/blocks/content/logo.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(blocks): hero basic
  web/app/themes/adeliom/app/Block/Hero/HeroBasicBlock.php
  web/app/themes/adeliom/views/blocks/hero/hero-basic.html.twig
  web/app/themes/adeliom/views/blocks/hero/hero.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(blocks): image gallery (#65)
  package-lock.json
  package.json
  web/app/themes/adeliom/app/Block/Content/ImageGalleryBlock.php
  web/app/themes/adeliom/assets/scripts/blocks/image-gallery.ts
  web/app/themes/adeliom/views/blocks/content/image-gallery.html.twig
Due: lando prettier --write, lando eslint --fix, lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

39 bloc gutenberg menu sticky (#60)
  README.md
  web/app/themes/adeliom/app/Block/Content/FileBlock.php
  web/app/themes/adeliom/app/Block/Content/ImageFullBlock.php
  web/app/themes/adeliom/app/Block/Content/NumbersBlock.php
  web/app/themes/adeliom/app/Block/Content/QuoteBlock.php
  web/app/themes/adeliom/app/Block/Content/TextImageBlock.php
  web/app/themes/adeliom/app/Block/Content/TitleTextBlock.php
  web/app/themes/adeliom/app/Block/Content/WysiwygBlock.php
  web/app/themes/adeliom/app/Block/Navigation/StickyMenuBlock.php
  web/app/themes/adeliom/app/Enum/BlocksTwigPath.php
  web/app/themes/adeliom/app/Enum/GutBlockName.php
  web/app/themes/adeliom/assets/components/global/index.ts
  web/app/themes/adeliom/assets/scripts/blocks/sticky-menu.ts
  web/app/themes/adeliom/assets/scripts/components/accordion.ts
  web/app/themes/adeliom/assets/styles/tailwind/utilities/utilities.pcss
  web/app/themes/adeliom/package-lock.json
  web/app/themes/adeliom/package.json
  web/app/themes/adeliom/views/blocks/navigation/sticky-menu.html.twig
Due: lando prettier --write, lando eslint --fix, lando stylelint --fix, lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(components): add tailwind default structure
  web/app/themes/adeliom/assets/components/global/index.ts
  web/app/themes/adeliom/assets/styles/tailwind/components/actions/buttons/buttons.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/actions/link/link.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/components.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/overlay/modals/modals.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/structure/list/list.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/typography/heading/heading.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/typography/text/text.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/typography/wysiwyg/wysiwyg.pcss
  web/app/themes/adeliom/assets/styles/tailwind/tailwind.pcss
  web/app/themes/adeliom/package-lock.json
  web/app/themes/adeliom/package.json
  web/app/themes/adeliom/tailwind.config.js
  web/app/themes/adeliom/views/components/overlay/README.md
  web/app/themes/adeliom/views/components/typography/typography.html.twig
  web/app/themes/adeliom/views/layout.html.twig
Due: lando prettier --write, lando eslint --fix, lando stylelint --fix

feat(a11y): add custom skip link button
  web/app/themes/adeliom/assets/scripts/global.ts
  web/app/themes/adeliom/assets/scripts/navigations/keyboard.ts
Due: lando prettier --write, lando eslint --fix

feat(components): add tailwind default structure
  web/app/themes/adeliom/app/Block/Hero/HeroBasicBlock.php
  web/app/themes/adeliom/views/blocks/hero/hero-basic.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

fix(blocks): enable tag selection on hero
  web/app/themes/adeliom/views/blocks/hero/hero-basic.html.twig
Due: none

feat(link): add default aria label
  web/app/themes/adeliom/views/components/action/buttons/btn.html.twig
  web/app/themes/adeliom/views/components/content/cards/basic/card-basic.html.twig
  web/app/themes/adeliom/views/components/content/cards/news/card-news.html.twig
Due: none

feat(blocks): hero basic (#67)
  web/app/themes/adeliom/app/Block/Hero/HeroBasicBlock.php
  web/app/themes/adeliom/views/blocks/hero/hero-basic.html.twig
  web/app/themes/adeliom/views/blocks/hero/hero.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(blocks): logos (#66)
  web/app/themes/adeliom/app/Block/Content/LogoBlock.php
  web/app/themes/adeliom/views/blocks/content/logo.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

fix(styles): standardize components naming
  web/app/themes/adeliom/assets/styles/tailwind/components/action/button.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/action/link.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/components.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/overlay/modal.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/structure/list.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/typography/heading.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/typography/text.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/typography/wysiwyg.pcss
  web/app/themes/adeliom/views/blocks/content/three-cards.html.twig
  web/app/themes/adeliom/views/blocks/content/title-text.html.twig
  web/app/themes/adeliom/views/blocks/cta/cta.html.twig
  web/app/themes/adeliom/views/components/action/button/btn-play.html.twig
  web/app/themes/adeliom/views/components/action/button/btn.html.twig
  web/app/themes/adeliom/views/components/content/media/media.html.twig
  web/app/themes/adeliom/views/layout.html.twig
Due: lando prettier --write, lando stylelint --fix

fix(headings): standardize components naming
  web/app/themes/adeliom/assets/styles/tailwind/components/typography/heading.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/typography/wysiwyg.pcss
  web/app/themes/adeliom/views/blocks/listing/last-news.html.twig
  web/app/themes/adeliom/views/components/typography/typography.html.twig
Due: lando prettier --write, lando stylelint --fix

55 composants ajout accessibilité (#69)
  web/app/themes/adeliom/assets/scripts/global.ts
  web/app/themes/adeliom/assets/scripts/navigations/keyboard.ts
  web/app/themes/adeliom/assets/styles/tailwind/components/action/button.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/action/link.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/components.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/overlay/modal.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/structure/list.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/typography/heading.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/typography/text.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/typography/wysiwyg.pcss
  web/app/themes/adeliom/assets/styles/tailwind/tailwind.pcss
  web/app/themes/adeliom/tailwind.config.js
  web/app/themes/adeliom/views/blocks/content/three-cards.html.twig
  web/app/themes/adeliom/views/blocks/content/title-text.html.twig
  web/app/themes/adeliom/views/blocks/cta/cta.html.twig
  web/app/themes/adeliom/views/blocks/listing/last-news.html.twig
  web/app/themes/adeliom/views/components/action/button/btn-play.html.twig
  web/app/themes/adeliom/views/components/action/button/btn.html.twig
  web/app/themes/adeliom/views/components/content/cards/basic/card-basic.html.twig
  web/app/themes/adeliom/views/components/content/cards/news/card-news.html.twig
  web/app/themes/adeliom/views/components/content/media/media.html.twig
  web/app/themes/adeliom/views/components/overlay/README.md
  web/app/themes/adeliom/views/components/typography/typography.html.twig
  web/app/themes/adeliom/views/layout.html.twig
Due: lando prettier --write, lando eslint --fix, lando stylelint --fix

fix : corrections diverses
  config/environments/local.php
  web/app/themes/adeliom/app/Hooks/Admin/ThemeHooks.php
  web/app/themes/adeliom/app/PostTypes/Question.php
  web/app/themes/adeliom/assets/styles/tailwind/components/typography/wysiwyg.pcss
  web/app/themes/adeliom/views/components/content/media/media.html.twig
  web/app/themes/adeliom/views/components/typography/typography.html.twig
Due: lando prettier --write, lando stylelint --fix, lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

fix : corrections diverses (#78)
  config/environments/local.php
  web/app/themes/adeliom/app/Hooks/Admin/ThemeHooks.php
  web/app/themes/adeliom/app/PostTypes/Question.php
  web/app/themes/adeliom/assets/styles/tailwind/components/typography/wysiwyg.pcss
  web/app/themes/adeliom/views/components/content/media/media.html.twig
  web/app/themes/adeliom/views/components/typography/typography.html.twig
Due: lando prettier --write, lando stylelint --fix, lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(ddev): install ddev + prepare mutagen + documentation
  .ddev/commands/host/deployer
  .ddev/commands/web/theme:build
  .ddev/commands/web/theme:dev
  .ddev/commands/web/theme:install
  .ddev/commands/web/theme:watch
  .ddev/config.yaml
  .ddev/mutagen/mutagen.yml
  .lando.local.yml
  .lando.mutagen.yml
  .lando.yml
  README.md
  composer.lock
  config/application.php
  web/.htaccess
Due: none

feat(ddev): install ddev + prepare mutagen + documentation (#79)
  .ddev/commands/host/deployer
  .ddev/commands/web/theme:build
  .ddev/commands/web/theme:dev
  .ddev/commands/web/theme:install
  .ddev/commands/web/theme:watch
  .ddev/config.yaml
  .ddev/mutagen/mutagen.yml
  .lando.local.yml
  .lando.mutagen.yml
  .lando.yml
  README.md
  composer.lock
  config/application.php
  web/.htaccess
Due: none

feat: update composer.json with new ACF setup
  README.md
  composer.json
  composer.lock
Due: none

feat: update composer.json with new ACF setup (#81)
  README.md
  composer.json
  composer.lock
Due: none

Update README.md
  README.md
Due: none

Update README.md (#82)
  README.md
Due: none

fix(ddev): error when not having WP_HOME in .env
  config/application.php
Due: none

fix(ddev): error when not having WP_HOME in .env (#84)
  config/application.php
Due: none

fix(#73): block categories were not working
  web/app/themes/adeliom/app/Enum/GutBlockName.php
  web/app/themes/adeliom/app/Hooks/Admin/BlockHooks.php
  web/app/themes/adeliom/app/Hooks/Admin/ConfigHooks.php
  web/app/themes/adeliom/app/Hooks/Admin/ThemeHooks.php
  web/app/themes/adeliom/app/Hooks/Admin/WysiwygHooks.php
  web/app/themes/adeliom/config/hooks.php
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

fix(#73): block categories were not working (#87)
  web/app/themes/adeliom/app/Enum/GutBlockName.php
  web/app/themes/adeliom/app/Hooks/Admin/BlockHooks.php
  web/app/themes/adeliom/app/Hooks/Admin/ConfigHooks.php
  web/app/themes/adeliom/app/Hooks/Admin/ThemeHooks.php
  web/app/themes/adeliom/app/Hooks/Admin/WysiwygHooks.php
  web/app/themes/adeliom/config/hooks.php
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(#85): update swiper to latest version (10)
  .ddev/commands/web/theme:update
  .ddev/config.yaml
  web/app/themes/adeliom/assets/scripts/blocks/sticky-menu.ts
  web/app/themes/adeliom/package-lock.json
  web/app/themes/adeliom/package.json
Due: lando prettier --write, lando eslint --fix

feat(#85): update swiper to latest version (10) (#88)
  .ddev/commands/web/theme:update
  .ddev/config.yaml
  web/app/themes/adeliom/assets/scripts/blocks/sticky-menu.ts
  web/app/themes/adeliom/package-lock.json
  web/app/themes/adeliom/package.json
Due: lando prettier --write, lando eslint --fix

feat(flex): re-order categories
  web/app/themes/adeliom/app/Hooks/Admin/BlockHooks.php
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(flex): re-order categories (#90)
  web/app/themes/adeliom/app/Hooks/Admin/BlockHooks.php
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

ci: fix acf config http-basic
  deploy.php
Due: none

feat(image): macro image + css + README
  web/app/themes/adeliom/assets/scripts/global.ts
  web/app/themes/adeliom/assets/styles/tailwind/components/components.pcss
  web/app/themes/adeliom/assets/styles/tailwind/components/media/image.pcss
  web/app/themes/adeliom/package-lock.json
  web/app/themes/adeliom/package.json
  web/app/themes/adeliom/views/components/content/media/README.md
  web/app/themes/adeliom/views/components/content/media/image.html.twig
Due: lando prettier --write, lando eslint --fix, lando stylelint --fix

fix(ddev): Add ddev env for install
  .installer/Install.php
Due: none
