Repository agence-adeliom/lumberjack-project: changes, and which lint-staged commands are due for each by the changed paths.
All: lando prettier --write, lando eslint --fix, lando stylelint --fix, lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(files): add BO and FO for file download block (#54)
  web/app/themes/adeliom/app/Block/Content/FileBlock.php
  web/app/themes/adeliom/views/blocks/content/file.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(blocks): last news - outsource post query
  web/app/themes/adeliom/app/Block/Latest/LastNewsBlock.php
  web/app/themes/adeliom/app/Repositories/PostRepository.php
  web/app/themes/adeliom/views/components/content/cards/news/card-news.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

fix(fontawesome): delete css call from layout and add to js file
  web/app/themes/adeliom/assets/components/global/index.ts
  web/app/themes/adeliom/views/layout.html.twig
Due: lando prettier --write, lando eslint --fix

fix(repertory): update repertory name
  web/app/themes/adeliom/app/Admin/Fields/FormFields.php
  web/app/themes/adeliom/app/Block/Generique/FormBlock.php
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(faq): backoffice part
  web/app/themes/adeliom/app/Block/Relation/FaqBlock.php
  web/app/themes/adeliom/app/Enum/BlocksTwigPath.php
  web/app/themes/adeliom/app/Enum/GutBlockName.php
  web/app/themes/adeliom/app/PostTypes/Question.php
  web/app/themes/adeliom/config/posttypes.php
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(readme): modify wording for FA installation
  README.md
Due: none

fix(form): rename gf service and remove generique wording from category and dir
  web/app/themes/adeliom/app/Block/Relation/FormBlock.php
  web/app/themes/adeliom/app/Enum/BlocksTwigPath.php
  web/app/themes/adeliom/app/Enum/GutBlockName.php
  web/app/themes/adeliom/app/Services/GravityFormService.php
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(faq): twig part
  web/app/themes/adeliom/views/blocks/relation/faq.html.twig
  web/app/themes/adeliom/views/components/structure/accordion/faq.html.twig
Due: none

feat(tailwind config): add new variant is-active
  web/app/themes/adeliom/tailwind.config.js
Due: none

fix(numbersBlock): phplint fix
  web/app/themes/adeliom/app/Block/Content/NumbersBlock.php
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(faq js): init alpine + accordion js
  web/app/themes/adeliom/assets/scripts/components/accordion.ts
  web/app/themes/adeliom/assets/scripts/global.ts
  web/app/themes/adeliom/assets/scripts/types/index.d.ts
  web/app/themes/adeliom/package-lock.json
  web/app/themes/adeliom/package.json
Due: lando prettier --write, lando eslint --fix

feat(ts): add this line to init alpine + gligthbox without error
  web/app/themes/adeliom/tsconfig.json
Due: none

fix(textImage): add script to popin
  web/app/themes/adeliom/app/Block/Content/TextImageBlock.php
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(readme): translate readme
  web/app/themes/adeliom/views/components/action/README.md
  web/app/themes/adeliom/views/components/content/README.md
  web/app/themes/adeliom/views/components/navigations/README.md
  web/app/themes/adeliom/views/components/overlay/README.md
  web/app/themes/adeliom/views/components/structure/README.md
  web/app/themes/adeliom/views/components/typography/README.md
Due: lando prettier --write

fix(readme): fix composent to composant + add phpcs command
  README.md
  web/app/themes/adeliom/views/components/action/README.md
  web/app/themes/adeliom/views/components/content/README.md
  web/app/themes/adeliom/views/components/navigations/README.md
  web/app/themes/adeliom/views/components/overlay/README.md
  web/app/themes/adeliom/views/components/structure/README.md
Due: lando prettier --write

fix(bo): fix singular posttype name
  web/app/themes/adeliom/app/PostTypes/Question.php
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

fix(faq js): remove state open + skip a line
  web/app/themes/adeliom/assets/scripts/components/accordion.ts
Due: lando prettier --write, lando eslint --fix

feat(faq block): add comment for dropdowns functioning
  web/app/themes/adeliom/views/components/structure/accordion/faq.html.twig
Due: none

fix: lint
  web/app/themes/adeliom/assets/tailwind/utilities/index.pcss
Due: lando prettier --write, lando stylelint --fix

feat(blocks): add latest news block (#25)
  web/app/themes/adeliom/app/Block/Content/NumbersBlock.php
  web/app/themes/adeliom/app/Block/Latest/LastNewsBlock.php
  web/app/themes/adeliom/app/Repositories/PostRepository.php
  web/app/themes/adeliom/assets/tailwind/index.pcss
  web/app/themes/adeliom/assets/tailwind/utilities/index.pcss
  web/app/themes/adeliom/package-lock.json
  web/app/themes/adeliom/views/blocks/listing/last-news.html.twig
  web/app/themes/adeliom/views/components/content/cards/news/card-news.html.twig
  web/app/themes/adeliom/views/components/content/cards/news/skeleton.html.twig
Due: lando prettier --write, lando stylelint --fix, lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(readme): link to adeliom acf doc
  README.md
Due: none

feat(block): add anchor to flex block
  web/app/themes/adeliom/app/Block/Content/FileBlock.php
  web/app/themes/adeliom/app/Block/Content/ImageFullBlock.php
  web/app/themes/adeliom/app/Block/Content/MediaBlock.php
  web/app/themes/adeliom/app/Block/Content/NumbersBlock.php
  web/app/themes/adeliom/app/Block/Content/QuoteBlock.php
  web/app/themes/adeliom/app/Block/Content/TextImageBlock.php
  web/app/themes/adeliom/app/Block/Content/TitleTextBlock.php
  web/app/themes/adeliom/app/Block/Content/WysiwygBlock.php
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(sticky link block): bo part
  web/app/themes/adeliom/app/Block/Navigation/StickyMenuBlock.php
  web/app/themes/adeliom/app/Enum/BlocksTwigPath.php
  web/app/themes/adeliom/app/Enum/GutBlockName.php
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(sticky menu block): js part
  web/app/themes/adeliom/assets/scripts/blocks/sticky-menu.ts
Due: lando prettier --write, lando eslint --fix

feat(sticky menu link): tiwg part
  web/app/themes/adeliom/views/blocks/navigation/sticky-menu.html.twig
Due: none

feat(utilities): add class to hide scroll bar
  web/app/themes/adeliom/assets/styles/tailwind/utilities/utilities.pcss
Due: lando prettier --write, lando stylelint --fix

feat(sticky menu): js html php
  web/app/themes/adeliom/app/Block/Navigation/StickyMenuBlock.php
  web/app/themes/adeliom/assets/scripts/blocks/sticky-menu.ts
  web/app/themes/adeliom/views/blocks/navigation/sticky-menu.html.twig
Due: lando prettier --write, lando eslint --fix, lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

feat(swiper): install swiper
  web/app/themes/adeliom/package-lock.json
  web/app/themes/adeliom/package.json
Due: none

fix(name): question to questions
  web/app/themes/adeliom/app/Block/Relation/FaqBlock.php
  web/app/themes/adeliom/app/PostTypes/Question.php
  web/app/themes/adeliom/views/blocks/relation/faq.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

37 bloc gutenberg faq (#57)
  README.md
  web/app/themes/adeliom/app/Block/Content/TextImageBlock.php
  web/app/themes/adeliom/app/Block/Relation/FaqBlock.php
  web/app/themes/adeliom/app/Enum/BlocksTwigPath.php
  web/app/themes/adeliom/app/Enum/GutBlockName.php
  web/app/themes/adeliom/app/PostTypes/Question.php
  web/app/themes/adeliom/assets/scripts/components/accordion.ts
  web/app/themes/adeliom/assets/scripts/global.ts
  web/app/themes/adeliom/assets/scripts/types/index.d.ts
  web/app/themes/adeliom/config/posttypes.php
  web/app/themes/adeliom/package-lock.json
  web/app/themes/adeliom/package.json
  web/app/themes/adeliom/tailwind.config.js
  web/app/themes/adeliom/tsconfig.json
  web/app/themes/adeliom/views/blocks/relation/faq.html.twig
  web/app/themes/adeliom/views/components/action/README.md
  web/app/themes/adeliom/views/components/content/README.md
  web/app/themes/adeliom/views/components/navigations/README.md
  web/app/themes/adeliom/views/components/overlay/README.md
  web/app/themes/adeliom/views/components/structure/README.md
  web/app/themes/adeliom/views/components/structure/accordion/faq.html.twig
  web/app/themes/adeliom/views/components/typography/README.md
Due: lando prettier --write, lando eslint --fix, lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

fix(sticky menu): some front fix
  web/app/themes/adeliom/assets/scripts/blocks/sticky-menu.ts
  web/app/themes/adeliom/views/blocks/navigation/sticky-menu.html.twig
Due: lando prettier --write, lando eslint --fix

fix: install.php / deploy.php
  .installer/Install.php
  deploy.php
Due: none

fix(script + twig): little fix function + disable class
  composer.lock
  web/app/themes/adeliom/assets/scripts/blocks/sticky-menu.ts
  web/app/themes/adeliom/package-lock.json
  web/app/themes/adeliom/views/blocks/navigation/sticky-menu.html.twig
Due: lando prettier --write, lando eslint --fix

fix(accordion): refactor functionnement for better use
  web/app/themes/adeliom/assets/scripts/components/accordion.ts
  web/app/themes/adeliom/views/blocks/relation/faq.html.twig
  web/app/themes/adeliom/views/components/structure/accordion/faq.html.twig
Due: lando prettier --write, lando eslint --fix

feat(three cards): update with card component
  web/app/themes/adeliom/app/Block/Content/ThreeCardsBlock.php
  web/app/themes/adeliom/package-lock.json
  web/app/themes/adeliom/views/blocks/content/three-cards.html.twig
  web/app/themes/adeliom/views/components/content/cards/basic/card-basic.html.twig
Due: lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

fix(accordion): missing div
  web/app/themes/adeliom/views/blocks/relation/faq.html.twig
Due: none

fix: install.php / deploy.php (#59)
  .installer/Install.php
  deploy.php
Due: none

feat(blocks): outsource mediaRatio option on block images
  composer.lock
  web/app/themes/adeliom/app/Block/Content/MediaBlock.php
  web/app/themes/adeliom/app/Block/Content/TextImageBlock.php
  web/app/themes/adeliom/assets/tailwind/index.pcss
  web/app/themes/adeliom/assets/tailwind/utilities/index.pcss
  web/app/themes/adeliom/package-lock.json
  web/app/themes/adeliom/tailwind.config.js
  web/app/themes/adeliom/views/blocks/content/media.html.twig
  web/app/themes/adeliom/views/blocks/content/text-image.html.twig
Due: lando prettier --write, lando stylelint --fix, lando phplint --no-ansi, lando phpcbf --no-colors, lando phpcs --no-colors

Path conditions:
  lando prettier --write: ((any of: web/app/themes/adeliom/assets/**/*.{js,jsx,ts,tsx,json}) or (any of: web/app/themes/adeliom/assets/**/*.{css,pcss,scss})) or (any of: web/app/themes/**/*.md)
  lando eslint --fix: any of: web/app/themes/adeliom/assets/**/*.{js,jsx,ts,tsx,json}
  lando stylelint --fix: any of: web/app/themes/adeliom/assets/**/*.{css,pcss,scss}
  lando phplint --no-ansi: (any of: web/app/themes/**/*.php) or (any of: packages/**/*.{php})
  lando phpcbf --no-colors: (any of: web/app/themes/**/*.php) or (any of: packages/**/*.{php})
  lando phpcs --no-colors: (any of: web/app/themes/**/*.php) or (any of: packages/**/*.{php})
